<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Manager</title>
     <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <div>
        <h1>LOGO</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/employees">Employees</a></li>
                <li><a href="/transactions">Transactions</a></li>
                <li><a href="/category">Category</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <div>
            <div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/employees">Employees</a></li>
                        <li><a href="/transactions">Transactions</a></li>
                        <li><a href="/category">Category</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h1>Profile</h1>
            <div>
                <h2>IMAGE</h2>
                <div>
                    <h1>Username</h1>
                    <p>example@example.comss</p>
                </div>
            </div>
        </div>

        <div>
            <h1>Welcome! Please navigate and look around!</h1>
        </div>
    </div>
</body>

</html>